In [2]:
import numpy as np, pandas as pd

arr1 = np.arange(10)
print(arr1)
print(type(arr1))

[0 1 2 3 4 5 6 7 8 9]
<class 'numpy.ndarray'>

In [4]:
s1 = pd.Series(arr1)
print(s1)
print(type(s1))

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64
<class 'pandas.core.series.Series'>

In [5]:
dic1 = {'a':10,'b':20,'c':30,'d':40,'e':50}
print(dic1)
print(type(dic1))

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}
<class 'dict'>

In [10]:
s2 = pd.Series(dic1)
print(s2)
print(type(s2))

a    10
b    20
c    30
d    40
e    50
dtype: int64
<class 'pandas.core.series.Series'>

In [6]:
arr2 = np.array(np.arange(12)).reshape(4,3)
print(arr2)
print(type(arr2))

[[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]
<class 'numpy.ndarray'>

In [7]:
df1 = pd.DataFrame(arr2)
print(df1)
print(type(df1))

   0   1   2
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11
<class 'pandas.core.frame.DataFrame'>

In [8]:
dic2 = {'a':[1,2,3,4],'b':[5,6,7,8],'c':[9,10,11,12],'d':[13,14,15,16]}
print(dic2)
print(type(dic2))

{'a': [1, 2, 3, 4], 'b': [5, 6, 7, 8], 'c': [9, 10, 11, 12], 'd': [13, 14, 15, 16]}
<class 'dict'>

In [9]:
df2 = pd.DataFrame(dic2)
print(df2)
print(type(df2))

   a  b   c   d
0  1  5   9  13
1  2  6  10  14
2  3  7  11  15
3  4  8  12  16
<class 'pandas.core.frame.DataFrame'>

In [11]:
dic3 = {'one':{'a':1,'b':2,'c':3,'d':4},'two':{'a':5,'b':6,'c':7,'d':8},'three':{'a':9,'b':10,'c':11,'d':12}}
print(dic3)
print(type(dic3))

{'one': {'a': 1, 'b': 2, 'c': 3, 'd': 4}, 'two': {'a': 5, 'b': 6, 'c': 7, 'd': 8}, 'three': {'a': 9, 'b': 10, 'c': 11, 'd': 12}}
<class 'dict'>

In [12]:
df3 = pd.DataFrame(dic3)
print(df3)
print(type(df3))

   one  two  three
a    1    5      9
b    2    6     10
c    3    7     11
d    4    8     12
<class 'pandas.core.frame.DataFrame'>

In [13]:
df4 = df3[['one','three']]
print(df4)
print(type(df4))

   one  three
a    1      9
b    2     10
c    3     11
d    4     12
<class 'pandas.core.frame.DataFrame'>

In [14]:
s3 = df3['one']
print(s3)
print(type(s3))

a    1
b    2
c    3
d    4
Name: one, dtype: int64
<class 'pandas.core.series.Series'>

In [15]:
s4 = pd.Series(np.array([1,1,2,3,5,8]))
print(s4)

0    1
1    1
2    2
3    3
4    5
5    8
dtype: int64

In [16]:
print(s4.index)

RangeIndex(start=0, stop=6, step=1)

In [17]:
s4.index = ['a','b','c','d','e','f']
print(s4)

a    1
b    1
c    2
d    3
e    5
f    8
dtype: int64

In [18]:
print('s4[3]: ',s4[3])
print('s4[e]: ',s4['e'])
print("s4[1,3,5]: ",s4[[1,3,5]])
print("s4[['a','b','d','f']]: ",s4[['a','b','d','f']])
print('s4[:4]: ',s4[:4])
print("s4['c':]: ",s4['c':])
print("s4['b':'e']: ",s4['b':'e'])

s4[3]:  3
s4[e]:  5
s4[1,3,5]:  b    1
d    3
f    8
dtype: int64
s4[['a','b','d','f']]:  a    1
b    1
d    3
f    8
dtype: int64
s4[:4]:  a    1
b    1
c    2
d    3
dtype: int64
s4['c':]:  c    2
d    3
e    5
f    8
dtype: int64
s4['b':'e']:  b    1
c    2
d    3
e    5
dtype: int64

In [19]:
s5 = pd.Series(np.array([10,15,20,30,55,80]),index = ['a','b','c','d','e','f'])
print(s5)

s6 = pd.Series(np.array([12,11,13,15,14,16]),index = ['a','c','g','b','d','f'])
print(s6)
print(s5 + s6)
print(s5/s6)

a    10
b    15
c    20
d    30
e    55
f    80
dtype: int64
a    12
c    11
g    13
b    15
d    14
f    16
dtype: int64
a    22.0
b    30.0
c    31.0
d    44.0
e     NaN
f    96.0
g     NaN
dtype: float64
a    0.833333
b    1.000000
c    1.818182
d    2.142857
e         NaN
f    5.000000
g         NaN
dtype: float64

In [20]:
import pandas as pd

stu_dic = {'Age':[14,13,13,14,14,12,12,15,13,12,11,14,12,15,16,12,15,11,15],
'Height':[69,56.5,65.3,62.8,63.5,57.3,59.8,62.5,62.5,59,51.3,64.3,56.3,66.5,72,64.8,67,57.5,66.5],
'Name':['Alfred','Alice','Barbara','Carol','Henry','James','Jane','Janet','Jeffrey','John','Joyce','Judy','Louise','Marry','Philip','Robert','Ronald','Thomas','Willam'],
'Sex':['M','F','F','F','M','M','F','F','M','M','F','F','F','F','M','M','M','M','M'],
'Weight':[112.5,84,98,102.5,102.5,83,84.5,112.5,84,99.5,50.5,90,77,112,150,128,133,85,112]}
student = pd.DataFrame(stu_dic)

In [21]:
print(student.head())

   Age  Height     Name Sex  Weight
0   14    69.0   Alfred   M   112.5
1   13    56.5    Alice   F    84.0
2   13    65.3  Barbara   F    98.0
3   14    62.8    Carol   F   102.5
4   14    63.5    Henry   M   102.5

In [22]:
print(student.tail())

    Age  Height    Name Sex  Weight
14   16    72.0  Philip   M   150.0
15   12    64.8  Robert   M   128.0
16   15    67.0  Ronald   M   133.0
17   11    57.5  Thomas   M    85.0
18   15    66.5  Willam   M   112.0

In [23]:
print(student.loc[[0,2,4,5,7]])

   Age  Height     Name Sex  Weight
0   14    69.0   Alfred   M   112.5
2   13    65.3  Barbara   F    98.0
4   14    63.5    Henry   M   102.5
5   12    57.3    James   M    83.0
7   15    62.5    Janet   F   112.5

In [24]:
print(student[['Name','Height','Weight']].head())

      Name  Height  Weight
0   Alfred    69.0   112.5
1    Alice    56.5    84.0
2  Barbara    65.3    98.0
3    Carol    62.8   102.5
4    Henry    63.5   102.5

In [25]:
print(student.loc[:,['Name','Height','Weight']].head())

      Name  Height  Weight
0   Alfred    69.0   112.5
1    Alice    56.5    84.0
2  Barbara    65.3    98.0
3    Carol    62.8   102.5
4    Henry    63.5   102.5

In [26]:
print(student[(student['Sex']=='F') & (student['Age']>12)])

    Age  Height     Name Sex  Weight
1    13    56.5    Alice   F    84.0
2    13    65.3  Barbara   F    98.0
3    14    62.8    Carol   F   102.5
7    15    62.5    Janet   F   112.5
11   14    64.3     Judy   F    90.0
13   15    66.5    Marry   F   112.0

In [27]:
print(student[(student['Sex']=='F') & (student['Age']>12)][['Name','Height','Weight']])

       Name  Height  Weight
1     Alice    56.5    84.0
2   Barbara    65.3    98.0
3     Carol    62.8   102.5
7     Janet    62.5   112.5
11     Judy    64.3    90.0
13    Marry    66.5   112.0

In [29]:
np.random.seed(1234)
d1 = pd.Series(2*np.random.normal(size = 100)+3)
d2 = np.random.f(2,4,size = 100)
d3 = np.random.randint(1,100,size = 100)

print('非空元素计算: ', d1.count()) #非空元素计算
print('最小值: ', d1.min()) #最小值
print('最大值: ', d1.max()) #最大值
print('最小值的位置: ', d1.idxmin()) #最小值的位置，类似于R中的which.min函数
print('最大值的位置: ', d1.idxmax()) #最大值的位置，类似于R中的which.max函数
print('10%分位数: ', d1.quantile(0.1)) #10%分位数
print('求和: ', d1.sum()) #求和
print('均值: ', d1.mean()) #均值
print('中位数: ', d1.median()) #中位数
print('众数: ', d1.mode()) #众数
print('方差: ', d1.var()) #方差
print('标准差: ', d1.std()) #标准差
print('平均绝对偏差: ', d1.mad()) #平均绝对偏差
print('偏度: ', d1.skew()) #偏度
print('峰度: ', d1.kurt()) #峰度
print('描述性统计指标: ', d1.describe()) #一次性输出多个描述性统计指标

非空元素计算:  100
最小值:  -4.1270333212494705
最大值:  7.781921030926066
最小值的位置:  81
最大值的位置:  39
10%分位数:  0.6870184644069928
求和:  307.0224566250873
均值:  3.070224566250874
中位数:  3.204555266776845
众数:  0    -4.127033
1    -1.800907
2    -1.485370
3    -1.149955
4    -1.042510
        ...
95    5.865414
96    6.091318
97    7.015686
98    7.061207
99    7.781921
Length: 100, dtype: float64
方差:  4.005609378535085
标准差:  2.0014018533355777
平均绝对偏差:  1.5112880411556109
偏度:  -0.6494780760484293
峰度:  1.2201094052398012
描述性统计指标:  count    100.000000
mean       3.070225
std        2.001402
min       -4.127033
25%        2.040101
50%        3.204555
75%        4.434788
max        7.781921
dtype: float64

In [30]:
def stats(x):
    return pd.Series([x.count(),x.min(),x.idxmin(),x.quantile(.25),x.median(),x.quantile(.75),
                      x.mean(),x.max(),x.idxmax(),x.mad(),x.var(),x.std(),x.skew(),x.kurt()],
                     index = ['Count','Min','Whicn_Min','Q1','Median','Q3','Mean','Max',
                              'Which_Max','Mad','Var','Std','Skew','Kurt'])
print(stats(d1))

Count        100.000000
Min           -4.127033
Whicn_Min     81.000000
Q1             2.040101
Median         3.204555
Q3             4.434788
Mean           3.070225
Max            7.781921
Which_Max     39.000000
Mad            1.511288
Var            4.005609
Std            2.001402
Skew          -0.649478
Kurt           1.220109
dtype: float64

In [31]:
df = pd.DataFrame(np.array([d1,d2,d3]).T,columns=['x1','x2','x3'])
print(df.head())

         x1        x2    x3
0  3.942870  1.369531  55.0
1  0.618049  0.943264  68.0
2  5.865414  0.590663  73.0
3  2.374696  0.206548  59.0
4  1.558823  0.223204  60.0

In [32]:
print(df.apply(stats))

                   x1          x2          x3
Count      100.000000  100.000000  100.000000
Min         -4.127033    0.014330    3.000000
Whicn_Min   81.000000   72.000000   76.000000
Q1           2.040101    0.249580   25.000000
Median       3.204555    1.000613   54.500000
Q3           4.434788    2.101581   73.000000
Mean         3.070225    2.028608   51.490000
Max          7.781921   18.791565   98.000000
Which_Max   39.000000   53.000000   96.000000
Mad          1.511288    1.922669   24.010800
Var          4.005609   10.206447  780.090808
Std          2.001402    3.194753   27.930106
Skew        -0.649478    3.326246   -0.118917
Kurt         1.220109   12.636286   -1.211579

In [33]:
print(student['Sex'].describe())

count     19
unique     2
top        M
freq      10
Name: Sex, dtype: object

In [34]:
print(df.corr())

          x1        x2        x3
x1  1.000000  0.136085  0.037185
x2  0.136085  1.000000 -0.005688
x3  0.037185 -0.005688  1.000000

Correlation has three methods that are important
**pearson**(default), **kendell** and **spearman**

In [36]:
print(df.corr('spearman'))

         x1        x2        x3
x1  1.00000  0.178950  0.006590
x2  0.17895  1.000000 -0.033874
x3  0.00659 -0.033874  1.000000

In [37]:
print(df.corrwith(df['x1']))

x1    1.000000
x2    0.136085
x3    0.037185
dtype: float64

In [38]:
print(df.cov())

          x1         x2          x3
x1  4.005609   0.870124    2.078596
x2  0.870124  10.206447   -0.507512
x3  2.078596  -0.507512  780.090808

# Use Pandas to do SQL

In [39]:
dic = {'Name':['LiuShunxiang','Zhangshan'],'Sex':['M','F'],'Age':[27,23],'Height':[165.7,167.2],'Weight':[61,63]}
student2 = pd.DataFrame(dic)
print(student2)

           Name Sex  Age  Height  Weight
0  LiuShunxiang   M   27   165.7      61
1     Zhangshan   F   23   167.2      63

In [41]:
student3 = pd.concat([student,student2], sort=False)
print(student3)

    Age  Height          Name Sex  Weight
0    14    69.0        Alfred   M   112.5
1    13    56.5         Alice   F    84.0
2    13    65.3       Barbara   F    98.0
3    14    62.8         Carol   F   102.5
4    14    63.5         Henry   M   102.5
5    12    57.3         James   M    83.0
6    12    59.8          Jane   F    84.5
7    15    62.5         Janet   F   112.5
8    13    62.5       Jeffrey   M    84.0
9    12    59.0          John   M    99.5
10   11    51.3         Joyce   F    50.5
11   14    64.3          Judy   F    90.0
12   12    56.3        Louise   F    77.0
13   15    66.5         Marry   F   112.0
14   16    72.0        Philip   M   150.0
15   12    64.8        Robert   M   128.0
16   15    67.0        Ronald   M   133.0
17   11    57.5        Thomas   M    85.0
18   15    66.5        Willam   M   112.0
0    27   165.7  LiuShunxiang   M    61.0
1    23   167.2     Zhangshan   F    63.0

In [42]:
print(pd.DataFrame(student2, columns=['Age','Height','Name','Sex','Weight','Score']))

   Age  Height          Name Sex  Weight  Score
0   27   165.7  LiuShunxiang   M      61    NaN
1   23   167.2     Zhangshan   F      63    NaN

In [43]:
del student2 #删除数据框student2, 通过del命令可以删除python的所有对象
print(student2)

NameError: name 'student2' is not defined

In [44]:
print(student.drop([0,1,3,6]))

    Age  Height     Name Sex  Weight
2    13    65.3  Barbara   F    98.0
4    14    63.5    Henry   M   102.5
5    12    57.3    James   M    83.0
7    15    62.5    Janet   F   112.5
8    13    62.5  Jeffrey   M    84.0
9    12    59.0     John   M    99.5
10   11    51.3    Joyce   F    50.5
11   14    64.3     Judy   F    90.0
12   12    56.3   Louise   F    77.0
13   15    66.5    Marry   F   112.0
14   16    72.0   Philip   M   150.0
15   12    64.8   Robert   M   128.0
16   15    67.0   Ronald   M   133.0
17   11    57.5   Thomas   M    85.0
18   15    66.5   Willam   M   112.0

In [45]:
print(student[student['Age']>14])

    Age  Height    Name Sex  Weight
7    15    62.5   Janet   F   112.5
13   15    66.5   Marry   F   112.0
14   16    72.0  Philip   M   150.0
16   15    67.0  Ronald   M   133.0
18   15    66.5  Willam   M   112.0

In [48]:
print(student.drop(['Height','Weight'],axis=1).head())

   Age     Name Sex
0   14   Alfred   M
1   13    Alice   F
2   13  Barbara   F
3   14    Carol   F
4   14    Henry   M

In [49]:
student3.loc[student3['Name'] == 'LiuShunxiang','Height']=173
print(student3[student3['Name'] == 'LiuShunxiang'][['Name','Height']])

           Name  Height
0  LiuShunxiang   173.0

In [50]:
print(student.groupby('Sex').mean())

           Age     Height      Weight
Sex
F    13.222222  60.588889   90.111111
M    13.400000  63.910000  108.950000

In [51]:
print(student.drop('Age',axis=1).groupby('Sex').mean())

        Height      Weight
Sex
F    60.588889   90.111111
M    63.910000  108.950000

In [52]:
print(student.groupby(['Sex','Age']).mean())

            Height  Weight
Sex Age
F   11   51.300000   50.50
    12   58.050000   80.75
    13   60.900000   91.00
    14   63.550000   96.25
    15   64.500000  112.25
M   11   57.500000   85.00
    12   60.366667  103.50
    13   62.500000   84.00
    14   66.250000  107.50
    15   66.750000  122.50
    16   72.000000  150.00

In [53]:
print(student.drop('Age',axis=1).groupby('Sex').agg([np.mean,np.median]))

        Height             Weight
          mean median        mean  median
Sex
F    60.588889  62.50   90.111111   90.00
M    63.910000  64.15  108.950000  107.25

In [54]:
Data = pd.Series(np.array(np.random.randint(1,20,10)))
print(Data)
print(Data.sort_index())
print(Data.sort_values(ascending=False))

0    18
1    15
2    16
3    18
4    16
5     8
6    17
7    10
8    16
9     6
dtype: int64
0    18
1    15
2    16
3    18
4    16
5     8
6    17
7    10
8    16
9     6
dtype: int64
3    18
0    18
6    17
8    16
4    16
2    16
1    15
7    10
5     8
9     6
dtype: int64

In [55]:
print(student.sort_values(by = ['Age','Height']))

    Age  Height     Name Sex  Weight
10   11    51.3    Joyce   F    50.5
17   11    57.5   Thomas   M    85.0
12   12    56.3   Louise   F    77.0
5    12    57.3    James   M    83.0
9    12    59.0     John   M    99.5
6    12    59.8     Jane   F    84.5
15   12    64.8   Robert   M   128.0
1    13    56.5    Alice   F    84.0
8    13    62.5  Jeffrey   M    84.0
2    13    65.3  Barbara   F    98.0
3    14    62.8    Carol   F   102.5
4    14    63.5    Henry   M   102.5
11   14    64.3     Judy   F    90.0
0    14    69.0   Alfred   M   112.5
7    15    62.5    Janet   F   112.5
13   15    66.5    Marry   F   112.0
18   15    66.5   Willam   M   112.0
16   15    67.0   Ronald   M   133.0
14   16    72.0   Philip   M   150.0